html {
    background: linear-gradient(180deg, rgb(198, 209, 41), rgb(66, 59, 46));
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    font-size: 2vw;
    margin-top: 20px;
    font-family:'MS Gothic', 'Franklin Gothic Medium', Arial, fantasy;
    font-style: oblique;
    text-shadow: 1.5px 1.5px #eeebeb;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.02vw;
    text-transform: uppercase;
    color:rgb(34, 34, 33);
    opacity: .8;

}

#title-banner {
    height: 8.25vw;
    width: 680px;
    box-sizing: border-box;
    transform: scale(1.06);
}

figure, p, ul, ol, h3 {
    text-align: center;
}

figure > img {
    width: 495px;
    height: auto;
}

figcaption, p, ul, ol, h3 {
    color:rgb(198, 209, 41);
}

figcaption {
    margin-top: 5px;
    font-size: medium;
}

p {
    margin-top: 25px;
    font-size: 1.35vw;
}

figure, h3 {
    margin-top: 25px;
}

ul, ol {
    font-size: 1.15vw;
    font-weight: 300;
}

h3 {
    font-size: 3.5vw;
    font-weight: 900;
    margin-bottom: 15px;
}

ul, ol {
    flex-direction: column;
    list-style-position: inside;
    text-align: justify;
}

ul {
    margin-left: 600px;
    margin-right: 600px;
    width: 25vw;
}

ol {
    margin-bottom: 50px;
    margin-left: 500px;
    margin-right: 500px;
    width: 42vw;
}