html {
    background: linear-gradient(180deg, rgb(198, 209, 41), rgb(66, 59, 46));
    min-height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .15vw;
    margin-bottom: 50px;
    height: 175px;
}


#titleBorderLeft, #titleBorderRight {
    box-sizing: border-box;
    height: 200px;
    transform: scale(1.06);
    filter: hue-rotate(0deg) saturate(0);
}

#title {
    position: relative;
    text-align: center;
    font-family:'MS Gothic', 'Franklin Gothic Medium', Arial, fantasy;
    font-style: oblique;
    text-shadow: 1.5px 1.5px #eeebeb;
    font-size: 3.5vw;
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.02vw;
    text-transform: uppercase;
    color:rgb(34, 34, 33);
    opacity: .8;
}

#titleBorderLeft {
    transform: scaleX(-1);
}


.recipeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 220px;
    padding: 5px;
}


.recipeItem {
    height: auto;
    display: flex;
    width: 200px;
    position: relative;
    align-items: inherit;
}

.recipeImage {
    display: flex;
    width: 250px;
    height: 375px;
    object-fit: cover;
}
    

#leftRecipe, #middleRecipe, #rightRecipe {
    display: block;
    justify-content: center;
    text-align: center;
}



.link {
    width: 200px;
    font-size: xx-large;
    font-weight: 500;
    position: absolute;
    color:rgb(198, 209, 41);
    top: 400px;
    left: 20px;
}



.description  {
    position: absolute;
    display:grid;
    justify-content: space-evenly;
    font-size: medium;
    display: flex;
    text-align: center;
    font-size: xx-large;
    font-weight: 200;
    color:rgb(198, 209, 41);
}






    /* For mobile phones */


@media only screen and (min-width: 360px) and (max-width: 767px) {

    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        height: 150px;
        margin-bottom: 0px;
    }
    
    
    #titleBorderLeft, #titleBorderRight {
        box-sizing: border-box;
        height: 150px;
        transform: scale(1.06);
    }
    
    #title {
        position: relative;
        text-align: center;
        font-family:'MS Gothic', 'Franklin Gothic Medium', Arial, fantasy;
        font-style: oblique;
        text-shadow: 1.5px 1.5px #eeebeb;
        font-size: 45px;
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        letter-spacing: 0.02vw;
        text-transform: uppercase;
        color:rgb(34, 34, 33);
        opacity: .8;
    }
    
    #titleBorderLeft {
        transform: scaleX(-1);
    }
    
    
    .recipeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 85px;
        gap: 90px;
        padding: 0px;
    }


    .recipeImage {
        display: flex;
        width: 200px;
        height: 225px;
        object-fit: cover;
    }

    .link {
        width: 200px;
        font-size: 33px;
        font-weight: 850;
        position: relative;
        color: rgb(198, 209, 41);
        top: 5px;
        left: 5px;
    }
}

    /*
    
    .recipeItem {
        height: auto;
        display: flex;
        width: 100px;
        position: relative;
        align-items: inherit;
    }
    
    .recipeImage {
        display: flex;
        width: 180px;
        height: 145px;
        object-fit: cover;
    }
        
    
    #leftRecipe, #middleRecipe, #rightRecipe {
        display: block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    
    
    .link {
        width: 100px;
        font-size: large;
        font-weight: 300;
        position: absolute;
        color:rgb(198, 209, 41);
        top: 150px;
        left: 20px;
    }
    
    
    .description  {
        position: absolute;
        display:grid;
        justify-content: space-evenly;
        font-size: medium;
        display: flex;
        text-align: center;
        font-size: large;
        font-weight: 200;
        color:rgb(198, 209, 41);
    }
    }
    */